In [2]:
#Importing Libraries

import pandas as pd
import numpy as np

Instructions

1) Create a DataFrame from a fresh import of the NBA annual player data set using .read_csv()

2) Drop all the "TOT" rows

3) Create a new DataFrame with only rows from Hall of Famers (those with "stars" by their name). Hint: Consider that the star is always the last character in the field.

4) Aggregate the Hall of Famer stats that can be aggregated to create "lifetime stats"

5) Present your picks for top players of their era by position based on total and per-minute stats.

In [3]:
!ls

AC_HW4.ipynb                    Lab4_DataMunging_20190221.ipynb
HW3_ver2.ipynb                  Players.csv
Homework3_20200215.ipynb        Seasons_Stats.csv
Lab1_20200120_DW.ipynb          player_data.csv
Lab2_20191110.ipynb

In [4]:
ann_stats = pd.read_csv("Seasons_Stats.csv")
ann_stats.head()

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,3,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0

In [5]:
TOT_list = ann_stats[ann_stats["Tm"] == 'TOT'].index
TOT_list

Int64Index([    3,     8,    29,    33,    38,    57,    61,    75,    85,
               96,
            ...
            24596, 24604, 24614, 24622, 24626, 24650, 24661, 24664, 24667,
            24672],
           dtype='int64', length=2123)

In [6]:
ann_without_TOT = ann_stats.drop(TOT_list)
ann_without_TOT

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
4,4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0
5,5,1950.0,Ed Bartels,F,24.0,NYK,2.0,NaN,NaN,NaN,...,0.667,NaN,NaN,NaN,0.0,NaN,NaN,NaN,2.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24686,24686,2017.0,Cody Zeller,PF,24.0,CHO,62.0,58.0,1725.0,16.7,...,0.679,135.0,270.0,405.0,99.0,62.0,58.0,65.0,189.0,639.0
24687,24687,2017.0,Tyler Zeller,C,27.0,BOS,51.0,5.0,525.0,13.0,...,0.564,43.0,81.0,124.0,42.0,7.0,21.0,20.0,61.0,178.0
24688,24688,2017.0,Stephen Zimmerman,C,20.0,ORL,19.0,0.0,108.0,7.3,...,0.600,11.0,24.0,35.0,4.0,2.0,5.0,3.0,17.0,23.0
24689,24689,2017.0,Paul Zipser,SF,22.0,CHI,44.0,18.0,843.0,6.9,...,0.775,15.0,110.0,125.0,36.0,15.0,16.0,40.0,78.0,240.0
24690,24690,2017.0,Ivica Zubac,C,19.0,LAL,38.0,11.0,609.0,17.0,...,0.653,41.0,118.0,159.0,30.0,14.0,33.0,30.0,66.0,284.0

In [7]:
ann_cleaned = ann_without_TOT[ann_without_TOT["Player"].notna()]
ann_cleaned

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
4,4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0
5,5,1950.0,Ed Bartels,F,24.0,NYK,2.0,NaN,NaN,NaN,...,0.667,NaN,NaN,NaN,0.0,NaN,NaN,NaN,2.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24686,24686,2017.0,Cody Zeller,PF,24.0,CHO,62.0,58.0,1725.0,16.7,...,0.679,135.0,270.0,405.0,99.0,62.0,58.0,65.0,189.0,639.0
24687,24687,2017.0,Tyler Zeller,C,27.0,BOS,51.0,5.0,525.0,13.0,...,0.564,43.0,81.0,124.0,42.0,7.0,21.0,20.0,61.0,178.0
24688,24688,2017.0,Stephen Zimmerman,C,20.0,ORL,19.0,0.0,108.0,7.3,...,0.600,11.0,24.0,35.0,4.0,2.0,5.0,3.0,17.0,23.0
24689,24689,2017.0,Paul Zipser,SF,22.0,CHI,44.0,18.0,843.0,6.9,...,0.775,15.0,110.0,125.0,36.0,15.0,16.0,40.0,78.0,240.0
24690,24690,2017.0,Ivica Zubac,C,19.0,LAL,38.0,11.0,609.0,17.0,...,0.653,41.0,118.0,159.0,30.0,14.0,33.0,30.0,66.0,284.0

In [8]:
ann_cleaned["last letter"] = [ann_cleaned["Player"][i][-1:]=='*' for i in ann_cleaned.index]
hof = ann_cleaned[ann_cleaned["last letter"] == True].drop("last letter", axis=1)
hof

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
32,32,1950.0,Al Cervi*,PG,32.0,SYR,56.0,NaN,NaN,NaN,...,0.829,NaN,NaN,NaN,264.0,NaN,NaN,NaN,223.0,573.0
49,49,1950.0,Bob Davies*,PG,30.0,ROC,64.0,NaN,NaN,NaN,...,0.752,NaN,NaN,NaN,294.0,NaN,NaN,NaN,187.0,895.0
68,68,1950.0,Joe Fulks*,PF,28.0,PHW,68.0,NaN,NaN,NaN,...,0.696,NaN,NaN,NaN,56.0,NaN,NaN,NaN,240.0,965.0
71,71,1950.0,Harry Gallatin*,F-C,22.0,NYK,68.0,NaN,NaN,NaN,...,0.757,NaN,NaN,NaN,56.0,NaN,NaN,NaN,215.0,803.0
92,92,1950.0,Alex Hannum*,PF,26.0,SYR,64.0,NaN,NaN,NaN,...,0.688,NaN,NaN,NaN,129.0,NaN,NaN,NaN,264.0,482.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20191,20191,2010.0,Allen Iverson*,PG,34.0,MEM,3.0,0.0,67.0,16.9,...,0.500,1.0,3.0,4.0,11.0,1.0,0.0,7.0,5.0,37.0
20192,20192,2010.0,Allen Iverson*,SG,34.0,PHI,25.0,24.0,798.0,13.1,...,0.824,15.0,60.0,75.0,102.0,18.0,2.0,57.0,43.0,348.0
20332,20332,2010.0,Shaquille O'Neal*,C,37.0,CLE,53.0,53.0,1240.0,17.9,...,0.496,93.0,262.0,355.0,80.0,15.0,62.0,105.0,169.0,636.0
20903,20903,2011.0,Yao Ming*,C,30.0,HOU,5.0,5.0,91.0,19.8,...,0.938,7.0,20.0,27.0,4.0,0.0,8.0,7.0,13.0,51.0
20931,20931,2011.0,Shaquille O'Neal*,C,38.0,BOS,37.0,36.0,752.0,17.4,...,0.557,48.0,130.0,178.0,26.0,16.0,42.0,56.0,120.0,341.0

In [22]:
agg_hof = hof.groupby(["Player"]).agg('sum')[["G", "GS", "MP", "TRB", "AST", "STL", "BLK", "TOV", "PF", "PTS"]]
agg_hof

,G,GS,MP,TRB,AST,STL,BLK,TOV,PF,PTS
Player,,,,,,,,,,
Adrian Dantley*,955.0,546.0,34151.0,5455.0,2830.0,944.0,150.0,2503.0,2550.0,23177.0
Al Cervi*,202.0,0.0,1151.0,261.0,648.0,0.0,0.0,0.0,669.0,1591.0
Alex English*,1193.0,753.0,38063.0,6538.0,4351.0,1067.0,833.0,2821.0,3027.0,25613.0
Alex Hannum*,391.0,0.0,5563.0,1519.0,696.0,0.0,0.0,0.0,1549.0,2449.0
Alfred McGuire*,191.0,0.0,2966.0,418.0,363.0,0.0,0.0,0.0,501.0,757.0
...,...,...,...,...,...,...,...,...,...,...
Wes Unseld*,984.0,0.0,35832.0,13769.0,3822.0,628.0,367.0,579.0,2762.0,10624.0
Willis Reed*,650.0,0.0,23073.0,8414.0,1186.0,12.0,21.0,0.0,2411.0,12183.0
Wilt Chamberlain*,1045.0,0.0,47859.0,23924.0,4643.0,0.0,0.0,0.0,2075.0,31419.0
Yao Ming*,486.0,476.0,15818.0,4494.0,769.0,189.0,920.0,1311.0,1596.0,9247.0
Zelmo Beaty*,570.0,0.0,18348.0,5949.0,839.0,45.0,29.0,0.0,2132.0,9107.0

In [28]:
agg_hof.sort_values("PTS", ascending=False).head(20)

,G,GS,MP,TRB,AST,STL,BLK,TOV,PF,PTS
Player,,,,,,,,,,
Kareem Abdul-Jabbar*,1560.0,625.0,57446.0,17440.0,5660.0,1160.0,3189.0,2527.0,4657.0,38387.0
Karl Malone*,1476.0,1471.0,54852.0,14968.0,5248.0,2085.0,1145.0,4524.0,4578.0,36928.0
Michael Jordan*,1072.0,1039.0,41011.0,6672.0,5633.0,2514.0,893.0,2924.0,2783.0,32292.0
Wilt Chamberlain*,1045.0,0.0,47859.0,23924.0,4643.0,0.0,0.0,0.0,2075.0,31419.0
Shaquille O'Neal*,1207.0,1197.0,41918.0,13099.0,3026.0,739.0,2732.0,3310.0,4146.0,28596.0
Moses Malone*,1329.0,784.0,45071.0,16212.0,1796.0,1089.0,1733.0,3804.0,3076.0,27409.0
Elvin Hayes*,1303.0,129.0,50000.0,16279.0,2398.0,864.0,1771.0,1358.0,4193.0,27313.0
Hakeem Olajuwon*,1238.0,1186.0,44222.0,13748.0,3058.0,2162.0,3830.0,3667.0,4383.0,26946.0
Oscar Robertson*,1040.0,0.0,43886.0,7804.0,9887.0,77.0,4.0,0.0,2931.0,26710.0
Dominique Wilkins*,1074.0,995.0,38113.0,7169.0,2677.0,1378.0,642.0,2669.0,2061.0,26668.0
John Havlicek*,1270.0,0.0,46471.0,8007.0,6114.0,476.0,117.0,204.0,3281.0,26395.0
Alex English*,1193.0,753.0,38063.0,6538.0,4351.0,1067.0,833.0,2821.0,3027.0,25613.0
Reggie Miller*,1389.0,1304.0,47619.0,4182.0,4141.0,1505.0,299.0,2409.0,2730.0,25279.0
Jerry West*,932.0,0.0,36571.0,5366.0,6238.0,81.0,23.0,0.0,2435.0,25192.0
Patrick Ewing*,1183.0,1122.0,40594.0,11607.0,2215.0,1136.0,2894.0,3537.0,4034.0,24815.0
Allen Iverson*,914.0,901.0,37584.0,3394.0,5624.0,1983.0,164.0,3262.0,1777.0,24368.0
Charles Barkley*,1073.0,1012.0,39330.0,12546.0,4215.0,1648.0,888.0,3376.0,3287.0,23757.0
Robert Parish*,1611.0,1134.0,45704.0,14715.0,2180.0,1219.0,2361.0,3183.0,4443.0,23334.0
Adrian Dantley*,955.0,546.0,34151.0,5455.0,2830.0,944.0,150.0,2503.0,2550.0,23177.0
Elgin Baylor*,846.0,0.0,33863.0,11463.0,3650.0,0.0,0.0,0.0,2596.0,23149.0

In [26]:
#MY GOTE: Kareem as Center, Dom Wilkins as SF, Oscar Robertson as PF, Kobe as SG, John Stockton as PG
ann_stats[ann_stats["Player"] == "Kareem Abdul-Jabbar*"].head(2)

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
2868,2868,1970.0,Kareem Abdul-Jabbar*,C,22.0,MIL,82.0,NaN,3534.0,22.5,...,0.653,NaN,NaN,1190.0,337.0,NaN,NaN,NaN,283.0,2361.0
3070,3070,1971.0,Kareem Abdul-Jabbar*,C,23.0,MIL,82.0,NaN,3288.0,29.0,...,0.690,NaN,NaN,1311.0,272.0,NaN,NaN,NaN,264.0,2596.0

In [31]:
ann_stats[ann_stats["Player"] == "Dominique Wilkins*"].head(2)

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
7194,7194,1983.0,Dominique Wilkins*,SF,23.0,ATL,82.0,82.0,2697.0,16.6,...,0.682,226.0,252.0,478.0,129.0,84.0,63.0,180.0,210.0,1434.0
7539,7539,1984.0,Dominique Wilkins*,SF,24.0,ATL,81.0,81.0,2961.0,19.2,...,0.770,254.0,328.0,582.0,126.0,117.0,87.0,215.0,197.0,1750.0

In [32]:
ann_stats[ann_stats["Player"] == "Oscar Robertson*"].head(2)

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
1661,1661,1961.0,Oscar Robertson*,PG,22.0,CIN,71.0,NaN,3032.0,25.9,...,0.822,NaN,NaN,716.0,690.0,NaN,NaN,NaN,219.0,2165.0
1781,1781,1962.0,Oscar Robertson*,PG,23.0,CIN,79.0,NaN,3503.0,26.0,...,0.803,NaN,NaN,985.0,899.0,NaN,NaN,NaN,258.0,2432.0

In [35]:
ann_stats[ann_stats["Player"] == "Kobe Bryant"].head(2)

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
12900,12900,1997.0,Kobe Bryant,SG,18.0,LAL,71.0,6.0,1103.0,14.4,...,0.819,47.0,85.0,132.0,91.0,49.0,23.0,112.0,102.0,539.0
13479,13479,1998.0,Kobe Bryant,SG,19.0,LAL,79.0,1.0,2056.0,18.5,...,0.794,79.0,163.0,242.0,199.0,74.0,40.0,157.0,180.0,1220.0

In [40]:
ann_stats[ann_stats["Player"] == "John Stockton*"].head(2)

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
7845,7845,1985.0,John Stockton*,PG,22.0,UTA,82.0,5.0,1490.0,13.3,...,0.736,26.0,79.0,105.0,415.0,109.0,11.0,150.0,203.0,458.0
8218,8218,1986.0,John Stockton*,PG,23.0,UTA,82.0,38.0,1935.0,17.0,...,0.839,33.0,146.0,179.0,610.0,157.0,10.0,168.0,227.0,630.0